/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --accent: orange;
  --accent-light: #f6c324;
  --background-1: #1e1e1e;
  --background-2: #2d2d2d;
  --text-1: #fedaac;
  --link: #aa6f00;
}

/* styling begin */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background-1);
  color: var(--text-1);
  height: 100vh;
}

a {
  color: var(--link);
}

h1 {
  color: var(--accent);
  font-size: 42px;
}

.title {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nets-container,
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.location-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.net {
  background-color: var(--background-2);
  border: var(--text-1) outset 2px;
  border-radius: 0.25rem;
  width: min(1200px, 98%);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.name {
  color: var(--accent);
}

.net-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.25rem;
}

.day,
.time-cst,
.occurance,
.frequency,
.offset,
.pl-tone,
.location,
.sponsor,
.website,
.type,
.internet-link,
.siteinfo,
.band,
.mode {
  align-self: center;
  display: flex;
}

footer {
  width: 100%;
  background-color: var(--background-1);
  color: var(--accent);
  padding: 2rem 0;
  text-align: center;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.next-net-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;

  @media (min-width: 768px) {
    align-items: center;
  }
}

#next-net {
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--accent);
  background-image: linear-gradient(319deg, var(--accent) 0%, #ff6801 37%, #f6c324 100%);
  color: #000;
  border: var(--text-1) outset 2px;
  border-radius: 0.25em;
  width: min(1200px, 98%);
  font-size: 24px;

  h2 {
    color: black;
  }
}

.next-net-details,
.next-net-sponsor {
  display: block;

  @media (min-width: 768px) {
    display: flex;
  }
}

button {
  background-color: var(--accent);
  color: black;
  border-radius: 0.15rem;
  border: var(--text-1) outset 2px;
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  margin-inline: 0.25rem;
}

button:hover {
  background-color: var(--accent-light);
}

.time-right-now {
  text-align: center;
}

.ai-disclosure {
  padding: 2rem;
}
